@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --color-white: white;
  --color-whitesmoke: whitesmoke;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: var(--font-roboto);
}

h1, h2, h3, .poppins {
  font-family: var(--font-poppins);
  color: var(--color-white);
}

.blur-load, .img {
  background-size: cover;
  background-position: center;
  object-position: center;
  object-fit: cover;
}

p {
  animation: fade linear both;
  color: var(--color-whitesmoke);
}

footer p {
  animation: none;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(-45deg, #315d28, #172D13, #081106);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}